.slide{
    padding-bottom: 30px;

    img {
        width: 35vw;
        margin: auto;
    }

    h5, p {
        color: white;
        font-weight: bolder;
        text-shadow:
                    1px 0 1px black,
                    -1px 0 1px black,
                    0 1px 1px black,
                    0 -1px 1px black;
    }

    .carousel-indicators{
        margin: 0;
        padding: 0;
        height: fit-content;
        justify-content: center;
        align-items: end;

        button{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgba(97, 218, 251, 1);
            border: 0.5px solid black;
        }
    }
}