.card {
    width: 15rem;
    max-height: 25rem;
    height: 20rem;
    min-height: 15rem;
    margin: 0;
    padding: 0;
    border-color: rgba(97, 218, 251, 1);
    box-shadow: 0 0 5px black;
    transition: all 0.2s linear;
    cursor: context-menu;
    background-color: whitesmoke;

    * {
        margin: 0;
        padding: 0;
    }

    img {
        width: 20%;
        height: 20%;
        margin: auto;
        margin-top: 5px;
        padding: 0;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
    }

    button {
        padding: 5px;
        margin-bottom: 10px;
        color: white;
        transition: all 0.2s linear;
    }

    button:hover {
        color: white;
        transform: scale(1.02);
        box-shadow: -2px 2px 4px black;
    }
}

.card:hover {
    transform: scale(1.04);
    animation: latir 2s linear infinite;
}

.bodyCard {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .card-title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span {
        margin: 0;
        padding: 0;
        font-size: x-large;
        font-weight: bold;
    }
}

.swal2-backdrop-show {

    h2 {
        margin: 0;
        padding: 0;
        font-size: x-large;
    }

    .swal2-html-container {
        margin: 0;
        padding: 0 10px 0 10px;
        font-size: medium;
    }
}

@media screen and (max-width: 680px) {
    .card {
        width: 45%;
        height: 10rem;

        .bodyCard {
            .card-title {
                margin: 0;
                padding: 0;
                font-size: 1rem;
                -webkit-line-clamp: 2;
            }
        }
    }
}

@media screen and (max-width: 535px) {
    .card {
        width: 45%;
        height: 10rem;

        .bodyCard {
            .card-title {
                margin: 0;
                padding: 0;
                font-size: 1rem;
                -webkit-line-clamp: 2;
            }
        }

        .estrellas {
            display: none;
        }
    }
}

@keyframes latir {
    0% {
        box-shadow: 0 0 20px rgba(97, 218, 251, 1);
    }

    50% {
        box-shadow: 0 0 0 rgba(97, 218, 251, 1);
    }

    100% {
        box-shadow: 0 0 20px rgba(97, 218, 251, 1);
    }
}