#basic-navbar-nav{
    text-align: center;
    
    > div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a{
        width: fit-content;
    }

    > div > div {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}

@media screen and (max-width: 992px) {
    #basic-navbar-nav{
        >.navbar-nav{
            gap: 10px;
        }

        > div{
            flex-direction: row;
            padding: 5px;
        }

        > div > div {
            flex-direction: row;
        }
    }
}

@media screen and (max-width: 520px) {
    #basic-navbar-nav{
        >.navbar-nav{
            flex-direction: row;

            >div{
                flex-direction: column;
                justify-content: center;
                gap: 0;
            }
        }
    }
    
}