.loguearse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    background-color: rgb(33, 37, 41);

    > form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .btnIniciarSesion {
        color: white;
        transition: all 0.2s linear;
    }

    .btnIniciarSesion:hover {
        color: black;
        transform: scale(1.02);
        box-shadow: -2px 2px 4px white;
    }
}

.swal2-backdrop-show {
    .swal2-styled {
        color: white;
        background-color: rgba(97, 218, 251, 1);
    }
}